openapi: 3.2.0
info:
  title: Salla Merchant Store API
  description: 'RESTful endpoints purpose-built for secure, fast, and easy access to Salla

    Merchant store data. Covers products, orders, customers, branches, brands,

    categories, currencies, languages, coupons, taxes, abandoned carts,

    shipping, shipments, and store configuration.


    All requests use the base URL `https://api.salla.dev/admin/v2` and are

    authenticated with an OAuth 2.0 bearer token issued via the Salla Partners

    Portal.

    '
  version: '2'
  contact:
    name: Salla Developers
    url: https://docs.salla.dev/
    email: support@salla.dev
  license:
    name: Proprietary
    url: https://salla.com/terms
servers:
- url: https://api.salla.dev/admin/v2
  description: Salla Merchant API production
security:
- OAuth2: []
tags:
- name: Store
paths:
  /store/info:
    get:
      summary: Get Store Info
      operationId: getStoreInfo
      tags:
      - Store
      responses:
        '200':
          description: Store information.
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.salla.sa/oauth2/auth
          tokenUrl: https://accounts.salla.sa/oauth2/token
          refreshUrl: https://accounts.salla.sa/oauth2/token
          scopes:
            offline_access: Required to receive a refresh token.
            orders.read: Read orders.
            orders.read_write: Read and write orders.
            products.read: Read products.
            products.read_write: Read and write products.
            customers.read: Read customers.
            customers.read_write: Read and write customers.
            settings.read: Read store settings.
            webhooks.read_write: Manage webhook subscriptions.
