openapi: 3.2.0
info:
  title: Salla Shipping and Fulfillment Shipments API
  description: 'REST surface for managing and tracking shipments, shipping zones, pickup

    branches, and courier integrations across Salla merchant stores. Shipping

    apps that implement this contract are listed in the Salla App Store and

    receive shipment lifecycle webhooks (`shipment.creating`,

    `shipment.created`, `shipment.cancelled`).

    '
  version: '2'
  contact:
    name: Salla Developers
    url: https://docs.salla.dev/
    email: support@salla.dev
servers:
- url: https://api.salla.dev/admin/v2
  description: Salla Shipping API production
security:
- OAuth2: []
tags:
- name: Shipments
paths:
  /shipments:
    get:
      summary: List Shipments
      operationId: listShipments
      tags:
      - Shipments
      responses:
        '200':
          description: Shipments list.
    post:
      summary: Create Shipment
      operationId: createShipment
      tags:
      - Shipments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentCreate'
      responses:
        '201':
          description: Shipment created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shipment'
  /shipments/{shipment_id}:
    parameters:
    - name: shipment_id
      in: path
      required: true
      schema:
        type: integer
    get:
      summary: Get Shipment Details
      operationId: getShipment
      tags:
      - Shipments
      responses:
        '200':
          description: Shipment details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shipment'
    put:
      summary: Update Shipment
      operationId: updateShipment
      tags:
      - Shipments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Shipment updated.
  /shipments/{shipment_id}/cancel:
    parameters:
    - name: shipment_id
      in: path
      required: true
      schema:
        type: integer
    post:
      summary: Cancel Shipment
      operationId: cancelShipment
      tags:
      - Shipments
      responses:
        '200':
          description: Shipment cancelled.
  /shipments/{shipment_id}/return:
    parameters:
    - name: shipment_id
      in: path
      required: true
      schema:
        type: integer
    post:
      summary: Create Shipment Return
      operationId: createShipmentReturn
      tags:
      - Shipments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Shipment return created.
components:
  schemas:
    ShipmentCreate:
      type: object
      required:
      - order_id
      - courier_id
      properties:
        order_id:
          type: integer
        courier_id:
          type: integer
        type:
          type: string
          enum:
          - shipment
          - return
        tracking_number:
          type: string
        tracking_link:
          type: string
          format: uri
        cost:
          type: number
        pickup_address:
          type: object
        ship_to:
          type: object
        packages:
          type: array
          items:
            type: object
    Shipment:
      type: object
      properties:
        id:
          type: integer
        order_id:
          type: integer
        courier_id:
          type: integer
        courier_name:
          type: string
        tracking_number:
          type: string
        tracking_link:
          type: string
          format: uri
        status:
          type: string
        type:
          type: string
          enum:
          - shipment
          - return
        total:
          type: number
        currency:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.salla.sa/oauth2/auth
          tokenUrl: https://accounts.salla.sa/oauth2/token
          refreshUrl: https://accounts.salla.sa/oauth2/token
          scopes:
            offline_access: Required to receive a refresh token.
            shipments.read: Read shipments.
            shipments.read_write: Read and write shipments.
