openapi: 3.2.0
info:
  title: Salla Shipping API
  version: '2'
  contact:
    name: Salla Developers
    url: https://docs.salla.dev/
    email: support@salla.dev
  description: 'Operations tagged Shipping across 2 of this provider''s published API definitions: salla-merchant-api-openapi.yml, salla-shipping-fulfillment-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.salla.dev/admin/v2
  description: Salla Merchant API production
security:
- OAuth2: []
tags:
- name: Shipping
paths:
  /shipments:
    get:
      summary: List Shipments
      operationId: listShipments
      tags:
      - Shipping
      responses:
        '200':
          description: Shipment list.
    post:
      summary: Create Shipment
      operationId: createShipment
      tags:
      - Shipping
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Shipment created.
    servers:
    - url: https://api.salla.dev/admin/v2
      description: Salla Merchant API production
  /shipments/{shipment_id}:
    parameters:
    - name: shipment_id
      in: path
      required: true
      schema:
        type: integer
    get:
      summary: Get Shipment Details
      operationId: getShipment
      tags:
      - Shipping
      responses:
        '200':
          description: Shipment details.
    servers:
    - url: https://api.salla.dev/admin/v2
      description: Salla Merchant API production
  /shipping/zones:
    get:
      summary: List Shipping Zones
      operationId: listShippingZones
      tags:
      - Shipping
      responses:
        '200':
          description: Shipping zone list.
    servers:
    - url: https://api.salla.dev/admin/v2
      description: Salla Merchant API production
  /shipping/zones/{zone_id}:
    parameters:
    - name: zone_id
      in: path
      required: true
      schema:
        type: integer
    get:
      summary: Get Shipping Zone Details
      operationId: getShippingZone
      tags:
      - Shipping
      responses:
        '200':
          description: Shipping zone details.
    servers:
    - url: https://api.salla.dev/admin/v2
      description: Salla Merchant API production
  /shipping/companies:
    get:
      summary: List Shipping Companies
      operationId: listShippingCompanies
      tags:
      - Shipping
      responses:
        '200':
          description: Shipping company list.
    post:
      summary: Create Shipping Company
      operationId: createShippingCompany
      tags:
      - Shipping
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Shipping company created.
    servers:
    - url: https://api.salla.dev/admin/v2
      description: Salla Merchant API production
  /shipping/companies/{company_id}:
    parameters:
    - name: company_id
      in: path
      required: true
      schema:
        type: integer
    get:
      summary: Get Shipping Company
      operationId: getShippingCompany
      tags:
      - Shipping
      responses:
        '200':
          description: Shipping company details.
    put:
      summary: Update Shipping Company
      operationId: updateShippingCompany
      tags:
      - Shipping
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Shipping company updated.
    delete:
      summary: Delete Shipping Company
      operationId: deleteShippingCompany
      tags:
      - Shipping
      responses:
        '200':
          description: Shipping company deleted.
    servers:
    - url: https://api.salla.dev/admin/v2
      description: Salla Shipping API production
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.salla.sa/oauth2/auth
          tokenUrl: https://accounts.salla.sa/oauth2/token
          refreshUrl: https://accounts.salla.sa/oauth2/token
          scopes:
            offline_access: Required to receive a refresh token.
            orders.read: Read orders.
            orders.read_write: Read and write orders.
            products.read: Read products.
            products.read_write: Read and write products.
            customers.read: Read customers.
            customers.read_write: Read and write customers.
            settings.read: Read store settings.
            webhooks.read_write: Manage webhook subscriptions.
x-refined-from:
- salla-merchant-api-openapi.yml
- salla-shipping-fulfillment-api-openapi.yml
