openapi: 3.2.0
info:
  title: Salla Merchant Orders API
  description: 'RESTful endpoints purpose-built for secure, fast, and easy access to Salla

    Merchant store data. Covers products, orders, customers, branches, brands,

    categories, currencies, languages, coupons, taxes, abandoned carts,

    shipping, shipments, and store configuration.


    All requests use the base URL `https://api.salla.dev/admin/v2` and are

    authenticated with an OAuth 2.0 bearer token issued via the Salla Partners

    Portal.

    '
  version: '2'
  contact:
    name: Salla Developers
    url: https://docs.salla.dev/
    email: support@salla.dev
  license:
    name: Proprietary
    url: https://salla.com/terms
servers:
- url: https://api.salla.dev/admin/v2
  description: Salla Merchant API production
security:
- OAuth2: []
tags:
- name: Orders
paths:
  /orders:
    get:
      summary: List Orders
      operationId: listOrders
      tags:
      - Orders
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: per_page
        in: query
        schema:
          type: integer
      - name: status
        in: query
        schema:
          type: string
      - name: from_date
        in: query
        schema:
          type: string
          format: date
      - name: to_date
        in: query
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Paginated list of orders.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderList'
  /orders/{order_id}:
    parameters:
    - name: order_id
      in: path
      required: true
      schema:
        type: integer
    get:
      summary: Get Order Details
      operationId: getOrder
      tags:
      - Orders
      parameters:
      - name: format
        in: query
        description: Set to `light` to exclude shipments, items, pickup branch, and customer groups.
        schema:
          type: string
          enum:
          - light
      responses:
        '200':
          description: Order details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      summary: Update Order
      operationId: updateOrder
      tags:
      - Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Order updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
  /orders/{order_id}/status:
    parameters:
    - name: order_id
      in: path
      required: true
      schema:
        type: integer
    post:
      summary: Update Order Status
      operationId: updateOrderStatus
      tags:
      - Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - slug
              properties:
                slug:
                  type: string
                  description: Status slug.
                note:
                  type: string
      responses:
        '200':
          description: Order status updated.
  /orders/{order_id}/histories:
    parameters:
    - name: order_id
      in: path
      required: true
      schema:
        type: integer
    get:
      summary: List Order Histories
      operationId: listOrderHistories
      tags:
      - Orders
      responses:
        '200':
          description: Order history entries.
  /orders/{order_id}/invoices:
    parameters:
    - name: order_id
      in: path
      required: true
      schema:
        type: integer
    get:
      summary: List Order Invoices
      operationId: listOrderInvoices
      tags:
      - Orders
      responses:
        '200':
          description: Order invoices.
  /orders/{order_id}/items:
    parameters:
    - name: order_id
      in: path
      required: true
      schema:
        type: integer
    get:
      summary: List Order Items
      operationId: listOrderItems
      tags:
      - Orders
      responses:
        '200':
          description: Order items.
components:
  responses:
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        status:
          type: integer
        success:
          type: boolean
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            fields:
              type: object
    Order:
      type: object
      properties:
        id:
          type: integer
        reference_id:
          type: integer
        urls:
          type: object
        date:
          type: object
          properties:
            date:
              type: string
              format: date-time
            timezone:
              type: string
        source:
          type: string
        status:
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
            slug:
              type: string
            customized:
              type: object
        can_cancel:
          type: boolean
        can_reorder:
          type: boolean
        is_pending_payment:
          type: boolean
        payment_method:
          type: string
        amounts:
          type: object
          properties:
            sub_total:
              $ref: '#/components/schemas/Money'
            shipping_cost:
              $ref: '#/components/schemas/Money'
            tax:
              $ref: '#/components/schemas/Money'
            discounts:
              $ref: '#/components/schemas/Money'
            total:
              $ref: '#/components/schemas/Money'
        shipping:
          type: object
        shipments:
          type: array
          items:
            type: object
        items:
          type: array
          items:
            type: object
        total_weight:
          type: number
        currency:
          type: string
        customer:
          $ref: '#/components/schemas/Customer'
    OrderResponse:
      type: object
      properties:
        status:
          type: integer
        success:
          type: boolean
        data:
          $ref: '#/components/schemas/Order'
    OrderList:
      type: object
      properties:
        status:
          type: integer
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/Order'
        pagination:
          $ref: '#/components/schemas/Pagination'
    Money:
      type: object
      properties:
        amount:
          type: number
        currency:
          type: string
          example: SAR
    Pagination:
      type: object
      properties:
        count:
          type: integer
        current:
          type: integer
        next:
          type:
          - string
          - 'null'
    Customer:
      type: object
      properties:
        id:
          type: integer
        first_name:
          type: string
        last_name:
          type: string
        mobile:
          type: string
        mobile_code:
          type: string
        email:
          type: string
          format: email
        gender:
          type: string
          enum:
          - male
          - female
        birthday:
          type: string
          format: date
        avatar:
          type: string
          format: uri
        city:
          type: string
        country:
          type: string
        currency:
          type: string
        updated_at:
          type: string
          format: date-time
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.salla.sa/oauth2/auth
          tokenUrl: https://accounts.salla.sa/oauth2/token
          refreshUrl: https://accounts.salla.sa/oauth2/token
          scopes:
            offline_access: Required to receive a refresh token.
            orders.read: Read orders.
            orders.read_write: Read and write orders.
            products.read: Read products.
            products.read_write: Read and write products.
            customers.read: Read customers.
            customers.read_write: Read and write customers.
            settings.read: Read store settings.
            webhooks.read_write: Manage webhook subscriptions.
