openapi: 3.2.0
info:
  title: Salla Shipping and Fulfillment Zones API
  description: 'REST surface for managing and tracking shipments, shipping zones, pickup

    branches, and courier integrations across Salla merchant stores. Shipping

    apps that implement this contract are listed in the Salla App Store and

    receive shipment lifecycle webhooks (`shipment.creating`,

    `shipment.created`, `shipment.cancelled`).

    '
  version: '2'
  contact:
    name: Salla Developers
    url: https://docs.salla.dev/
    email: support@salla.dev
servers:
- url: https://api.salla.dev/admin/v2
  description: Salla Shipping API production
security:
- OAuth2: []
tags:
- name: Zones
paths:
  /shipping/zones:
    get:
      summary: List Shipping Zones
      operationId: listShippingZones
      tags:
      - Zones
      responses:
        '200':
          description: Shipping zones.
    post:
      summary: Create Shipping Zone
      operationId: createShippingZone
      tags:
      - Zones
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Shipping zone created.
  /shipping/zones/{zone_id}:
    parameters:
    - name: zone_id
      in: path
      required: true
      schema:
        type: integer
    get:
      summary: Get Shipping Zone
      operationId: getShippingZone
      tags:
      - Zones
      responses:
        '200':
          description: Shipping zone details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShippingZone'
    put:
      summary: Update Shipping Zone
      operationId: updateShippingZone
      tags:
      - Zones
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Shipping zone updated.
components:
  schemas:
    ShippingZone:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        countries:
          type: array
          items:
            type: string
            description: ISO 3166-1 alpha-2 country code.
        cities:
          type: array
          items:
            type: string
        cost:
          type: number
        currency:
          type: string
        free_above:
          type:
          - number
          - 'null'
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.salla.sa/oauth2/auth
          tokenUrl: https://accounts.salla.sa/oauth2/token
          refreshUrl: https://accounts.salla.sa/oauth2/token
          scopes:
            offline_access: Required to receive a refresh token.
            shipments.read: Read shipments.
            shipments.read_write: Read and write shipments.
