openapi: 3.2.0
info:
  title: Salla Merchant Products API
  description: 'RESTful endpoints purpose-built for secure, fast, and easy access to Salla

    Merchant store data. Covers products, orders, customers, branches, brands,

    categories, currencies, languages, coupons, taxes, abandoned carts,

    shipping, shipments, and store configuration.


    All requests use the base URL `https://api.salla.dev/admin/v2` and are

    authenticated with an OAuth 2.0 bearer token issued via the Salla Partners

    Portal.

    '
  version: '2'
  contact:
    name: Salla Developers
    url: https://docs.salla.dev/
    email: support@salla.dev
  license:
    name: Proprietary
    url: https://salla.com/terms
servers:
- url: https://api.salla.dev/admin/v2
  description: Salla Merchant API production
security:
- OAuth2: []
tags:
- name: Products
paths:
  /products:
    get:
      summary: List Products
      operationId: listProducts
      tags:
      - Products
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: per_page
        in: query
        schema:
          type: integer
      - name: keyword
        in: query
        description: Filter products matching a name or SKU value.
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
          enum:
          - hidden
          - sale
          - out
      - name: category
        in: query
        schema:
          type: string
      - name: format
        in: query
        description: Use `light` for simplified product data.
        schema:
          type: string
          enum:
          - light
      responses:
        '200':
          description: Paginated list of products.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductList'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      summary: Create Product
      operationId: createProduct
      tags:
      - Products
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCreate'
      responses:
        '201':
          description: Product created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /products/{product_id}:
    parameters:
    - name: product_id
      in: path
      required: true
      schema:
        type: integer
    get:
      summary: Get Product
      operationId: getProduct
      tags:
      - Products
      responses:
        '200':
          description: Product details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResponse'
    put:
      summary: Update Product
      operationId: updateProduct
      tags:
      - Products
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCreate'
      responses:
        '200':
          description: Product updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResponse'
    delete:
      summary: Delete Product
      operationId: deleteProduct
      tags:
      - Products
      responses:
        '200':
          description: Product deleted.
  /products/{product_id}/skus:
    parameters:
    - name: product_id
      in: path
      required: true
      schema:
        type: integer
    get:
      summary: List Product SKUs
      operationId: listProductSkus
      tags:
      - Products
      responses:
        '200':
          description: List of SKUs for the product.
          content:
            application/json:
              schema:
                type: object
  /products/options:
    post:
      summary: Create Product Option
      operationId: createProductOption
      tags:
      - Products
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Option created.
  /products/quantities:
    put:
      summary: Update Product Quantities
      operationId: updateProductQuantities
      tags:
      - Products
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Quantities updated.
components:
  schemas:
    Error:
      type: object
      properties:
        status:
          type: integer
        success:
          type: boolean
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            fields:
              type: object
    ProductResponse:
      type: object
      properties:
        status:
          type: integer
        success:
          type: boolean
        data:
          $ref: '#/components/schemas/Product'
    ProductList:
      type: object
      properties:
        status:
          type: integer
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/Product'
        pagination:
          $ref: '#/components/schemas/Pagination'
    Image:
      type: object
      properties:
        id:
          type: integer
        original:
          type: string
          format: uri
        thumbnail:
          type: string
          format: uri
        alt:
          type: string
        sort:
          type: integer
    ProductCreate:
      type: object
      required:
      - name
      - price
      - product_type
      properties:
        name:
          type: string
        price:
          type: number
        product_type:
          type: string
          enum:
          - product
          - service
          - group_products
          - codes
          - digital
          - food
          - booking
          - donating
        status:
          type: string
          enum:
          - sale
          - out
          - hidden
          - deleted
        quantity:
          type: integer
        description:
          type: string
        categories:
          type: array
          items:
            type: integer
        sale_price:
          type: number
        cost_price:
          type: number
        sale_start:
          type: string
          format: date-time
        sale_end:
          type: string
          format: date-time
        sku:
          type: string
        mpn:
          type: string
        gtin:
          type: string
        brand_id:
          type: integer
        tags:
          type: array
          items:
            type: string
        images:
          type: array
          items:
            $ref: '#/components/schemas/Image'
        options:
          type: array
          items:
            type: object
        metadata_title:
          type: string
        metadata_description:
          type: string
        metadata_url:
          type: string
    Money:
      type: object
      properties:
        amount:
          type: number
        currency:
          type: string
          example: SAR
    Pagination:
      type: object
      properties:
        count:
          type: integer
        current:
          type: integer
        next:
          type:
          - string
          - 'null'
    Product:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        sku:
          type: string
        mpn:
          type: string
        gtin:
          type: string
        type:
          type: string
          enum:
          - product
          - service
          - group_products
          - codes
          - digital
          - food
          - booking
          - donating
        status:
          type: string
          enum:
          - sale
          - out
          - hidden
          - deleted
        price:
          $ref: '#/components/schemas/Money'
        sale_price:
          $ref: '#/components/schemas/Money'
        cost_price:
          $ref: '#/components/schemas/Money'
        quantity:
          type: integer
        description:
          type: string
        url:
          type: string
          format: uri
        images:
          type: array
          items:
            $ref: '#/components/schemas/Image'
        categories:
          type: array
          items:
            type: integer
        brand_id:
          type: integer
        tags:
          type: array
          items:
            type: string
        updated_at:
          type: string
          format: date-time
  responses:
    ValidationError:
      description: Request validation failed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Invalid or missing access token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.salla.sa/oauth2/auth
          tokenUrl: https://accounts.salla.sa/oauth2/token
          refreshUrl: https://accounts.salla.sa/oauth2/token
          scopes:
            offline_access: Required to receive a refresh token.
            orders.read: Read orders.
            orders.read_write: Read and write orders.
            products.read: Read products.
            products.read_write: Read and write products.
            customers.read: Read customers.
            customers.read_write: Read and write customers.
            settings.read: Read store settings.
            webhooks.read_write: Manage webhook subscriptions.
