openapi: 3.2.0
info:
  title: Salla Merchant Webhooks API
  description: 'RESTful endpoints purpose-built for secure, fast, and easy access to Salla

    Merchant store data. Covers products, orders, customers, branches, brands,

    categories, currencies, languages, coupons, taxes, abandoned carts,

    shipping, shipments, and store configuration.


    All requests use the base URL `https://api.salla.dev/admin/v2` and are

    authenticated with an OAuth 2.0 bearer token issued via the Salla Partners

    Portal.

    '
  version: '2'
  contact:
    name: Salla Developers
    url: https://docs.salla.dev/
    email: support@salla.dev
  license:
    name: Proprietary
    url: https://salla.com/terms
servers:
- url: https://api.salla.dev/admin/v2
  description: Salla Merchant API production
security:
- OAuth2: []
tags:
- name: Webhooks
paths:
  /webhooks/subscribe:
    post:
      summary: Subscribe Webhook
      operationId: subscribeWebhook
      tags:
      - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - event
              - url
              properties:
                name:
                  type: string
                event:
                  type: string
                  description: Webhook event name (e.g. `order.created`).
                url:
                  type: string
                  format: uri
                version:
                  type: integer
                rule:
                  type: string
                  description: Optional conditional rule.
                headers:
                  type: array
                  items:
                    type: object
                security_strategy:
                  type: string
                  enum:
                  - signature
                  - token
      responses:
        '201':
          description: Webhook subscription created.
  /webhooks/subscriptions:
    get:
      summary: List Webhook Subscriptions
      operationId: listWebhookSubscriptions
      tags:
      - Webhooks
      responses:
        '200':
          description: Webhook subscriptions.
  /webhooks/unsubscribe/{subscription_id}:
    parameters:
    - name: subscription_id
      in: path
      required: true
      schema:
        type: integer
    delete:
      summary: Unsubscribe Webhook
      operationId: unsubscribeWebhook
      tags:
      - Webhooks
      responses:
        '200':
          description: Webhook subscription deleted.
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.salla.sa/oauth2/auth
          tokenUrl: https://accounts.salla.sa/oauth2/token
          refreshUrl: https://accounts.salla.sa/oauth2/token
          scopes:
            offline_access: Required to receive a refresh token.
            orders.read: Read orders.
            orders.read_write: Read and write orders.
            products.read: Read products.
            products.read_write: Read and write products.
            customers.read: Read customers.
            customers.read_write: Read and write customers.
            settings.read: Read store settings.
            webhooks.read_write: Manage webhook subscriptions.
